.image {
  width: 80px;
  height: 50px;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}


body {
	background-image: url("img/32.png");
	background-size: 100% 100%;
	background-attachment: fixed;
}

h1 {
	font-family: Brush Script MT;
}
 
.navbar {

	list-style-type: none;
    background-color: rgb(119, 119, 119);
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
	z-index: 1;
	border-bottom-right-radius: 40px;
	
}
.navbar > h1 {
	color: white;
}

.slider{
	overflow: hidden;
	height: 600px;
	
}
 
.slider figure div{
	width: 20%;
	float: left;
}
 
.slider figure img{
  width: 100%;
  height: 50%;
	float: right;
}
 
.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 40s slidy infinite;
	
}
 
@keyframes slidy{
	0%{
		left: 0%
	}
 
	10%{
		left: 0%;
	}
 
	12%{
		left: -100%;
	}
 
	22%{
		left: -100%;
	}
 
	24%{
		left: -200%;
	}
 
	34%{
		left: -200%;
	}
 
	36%{
		left: -300%;
	}
 
	46%{
		left: -300%;
	}
 
	48%{
		left: -400%;
	}
 
	58%{
		left: -400%;
	}
 
	60%{
		left: -300%;
	}
 
	70%{
		left: -300%;
	}
 
	72%{
		left: -200%;
	}
 
	82%{
		left: -200%;
	}
 
	84%{
		left: -100%;
	}
 
	94%{
		left: -100%;
	}
 
	96%{
		left: 0%;
	}
 
	100%{
		left: 0%;
	}
}

h1 {
  text-align: center;
}

.card {
	box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 250px;
	height: 350px;
	border-radius: 10px;
	border: 1px solid black;
	margin: 20px;
	float: left;
	padding: 5px;
}
.button {
    background-color: #87e8f5;
	border: 1px solid rgb(17, 17, 17);
	border-radius: 5px;
	color: rgb(46, 42, 42);
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button-cari {
	background-color: #ffffff;
	border: 1px solid rgb(17, 17, 17);
	margin: 6px 2px;
	padding: 3px 6px;
	transition: 0.3s;
	color: rgb(0, 0, 0);
	cursor: pointer;
	width: 20%;
}

.input-keyword {
	border: 1px solid rgb(17, 17, 17);
	padding: 3px 12px;
	width: 70%;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(10, 10, 10, 0.87);
  
}

img {
  width: 300px;
  height: 200px;
}

.container {
  padding: 2px 16px;
}

img {
    border-radius: 10px;
}

